{% extends "base.html" %}
{% block content%}
    <fieldset  style="margin-left:400px;border-radius:10px; box-shadow: 5px 10px 18px grey; width:700px; margin-top:100px; margin-right:700px;">
        <legend style="margin-left:200px;"><h1>ABOUT QUIZ-BEE</h1></legend>
    <h2>
    <p>
    Quiz Bee is a web-based project for quiz practice.
    </p>
    <p>
        This website mainly focus on the educational institute that can be college or school .
    </p>
        <p>
        The motive behind our website is to provide a platform for the users to make a 
    quiz online and provide the same to other user to attempt it. 
    </p>
    <p>
    Our main users are going to be professors in colleges can use our 
    website to conduct the quiz and students who will attend quiz.
    </p>
    <p>
    Professors can make their own quiz and can also maintain the
    progress of each of the student.
    </p>
    </h2>
    </fieldset>

{% endblock%}